.DS_Store
**/compiled/*

*.rkt~
*.rkt#*
.#*.rkt

*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm
*.rktd
*.rktd
*.html
*.sxref
tests/smol-fun-tests.rkt
tests/smol-hof-tests.rkt
tests/smol-local-tests.rkt
tests/smol-state-tests.rkt
tests/smol-fun-tests.rkt
tests/smol-hof-tests.rkt
tests/smol-local-tests.rkt
